@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    background: #f6f1f1;
    width: 100%;
  }
}

.recipe-image {
    width: 330px; /* Set the width to 100% of the parent container */
    height: 200px; /* Set the height to a fixed value */
    object-fit: cover; /* Scale the image to fit the container */
}
