@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    background: #f6f1f1;
    width: 100%;
  }
}

.recipe-image {
    width: 330px; /* Set the width to 100% of the parent container */
    height: 200px; /* Set the height to a fixed value */
    object-fit: cover; /* Scale the image to fit the container */
}

.main-content {
  margin-bottom: 100px; /* adjust this value to match the height of your footer */
    padding-bottom: 100px; /* adjust this value to match the height of your footer */

}

.footer {
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-top: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer-link {
  text-decoration: none;
  color: #333;
}

.footer-link {
  text-decoration: none;
  color: #333;
}

.footer-link:hover {
  text-decoration: underline;
  text-decoration-color: #34C759; /* green-500 */
  text-decoration-thickness: 3px; /* adjust this value to make the underline thicker */

}

