{% extends "airfryer_app/base.html" %}

{% block body %}


<div class="container py-5 ml-5">
    <div class="product shadow-lg w-1/4 rounded-lg m-10">
        <div class="product-image pb-4">
            <img src="{{ recipe.image.url }}" alt="" class="product-image">
        </div>
 <div class="flex justify-content-between">
    {% if not is_saved %}
             <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                            onclick="window.location.href='{% url 'save_recipe' recipe.pk %}'">Save Recipe</button>
     {% endif %}
    {% if user.is_authenticated and user == recipe.user %}
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-auto"
                onclick="window.location.href='{% url 'edit_recipe' recipe.pk %}'">Edit Recipe</button>
    {% endif %}
</div>

        </div>
    </div>



         <div class ="pl-10">
            <div class ="font-bold text-2xl">{{ recipe.name }}</div>
                  {% if user.is_authenticated %}
                        {% if is_saved %}
                            <p class="text-gray-300">Recipe is saved as a favourite</p>
                        {% endif %}
             {% endif %}
            <div class ="mt-5">
                    {{ recipe.description }}
                </div>
                <div class ="mt-5">
                    <p class="font-bold">Ingredients:</p>
                </div>
                {% if recipe.ingredients1 %}
                  <p>1.{{ recipe.ingredients1 }}</p>
                {% endif %}

                {% if recipe.ingredients2 %}
                  <p>2.{{ recipe.ingredients2 }}</p>
                {% endif %}

                {% if recipe.ingredients3 %}
                  <p>3.{{ recipe.ingredients3 }}</p>
                {% endif %}

                {% if recipe.ingredients4 %}
                  <p>4.{{ recipe.ingredients4 }}</p>
                {% endif %}

                {% if recipe.ingredients5 %}
                  <p>5.{{ recipe.ingredients5 }}</p>
                {% endif %}

              <div class ="mt-5">
                    <p class="font-bold">Instructions:</p>
                </div>

                {% if recipe.instructions1 %}
                   <p>1.{{ recipe.instructions1 }}</p>
                {% endif %}

                {% if recipe.instructions2 %}
                  <p>2.{{ recipe.instructions2 }}</p>
                {% endif %}

                {% if recipe.instructions3 %}
                  <p>3.{{ recipe.instructions3 }}</p>
                {% endif %}

                {% if recipe.instructions4 %}
                  <p>4.{{ recipe.instructions4 }}</p>
                {% endif %}

                {% if recipe.instructions5 %}
                  <p>5.{{ recipe.instructions5 }}</p>
                {% endif %}

                <div class="text-orange-700 font-bold text-orange">
                    {{ recipe.time }} minutes
                </div>



             <br>
             <br>
             <span class="font-bold" >Comments:</span>
                <ul>
                        {% for comment in comments %}
                            <li>
                                <br>
                                <span class="italic">"{{ comment.comment }}" </span>
                                    <br>submitted by {{ comment.user.username }}
                                    <br>{{ comment.created_at }}
                                <br>
                            </li>
                        {% empty %}
                            <p>No comments yet.</p>
                        {% endfor %}
                </ul>

                    <form method="post" class="mb-4">
                        {% csrf_token %}
                        <div class="mb-4">

                            <br>
                            <label for="comment" class="block text-sm font-medium text-gray-700">Add Comment:</label>
                            <textarea id="comment" name="comment" class="block w-full p-2 mt-1 text-sm text-gray-700 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500" rows="3"></textarea>
                        </div>
                        <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Submit</button>
                    </form>

                     {% if messages %}
                        <ul class="messages mb-4">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }} mb-4"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
    </>
</div>

{% endblock %}