{% extends "airfryer_app/base.html" %}

{% block body %}
<div>
    <div class="flex p-10">
      <div class="product shadow-lg w-1/4 rounded-lg m-10">
            <div class="product-image">
            <img src="{{ recipe.image.url }}" alt="" class="product-image">
            </div>
        </div>

         <div class ="pl-10">
            <div class ="font-bold text-2xl">{{ recipe.name }}</div>
                <div class ="mt-5">
                    {{ recipe.description }}
                </div>
                <div class ="mt-5">
                    <p class="font-bold">Ingredients:</p>
                </div>
                {% if recipe.ingredients1 %}
                  <p>1.{{ recipe.ingredients1 }}</p>
                {% endif %}

                {% if recipe.ingredients2 %}
                  <p>2.{{ recipe.ingredients2 }}</p>
                {% endif %}

                {% if recipe.ingredients3 %}
                  <p>3.{{ recipe.ingredients3 }}</p>
                {% endif %}

                {% if recipe.ingredients4 %}
                  <p>4.{{ recipe.ingredients4 }}</p>
                {% endif %}

                {% if recipe.ingredients5 %}
                  <p>5.{{ recipe.ingredients5 }}</p>
                {% endif %}

              <div class ="mt-5">
                    <p class="font-bold">Instructions:</p>
                </div>

                {% if recipe.instructions1 %}
                   <p>1.{{ recipe.instructions1 }}</p>
                {% endif %}

                {% if recipe.instructions2 %}
                  <p>2.{{ recipe.instructions2 }}</p>
                {% endif %}

                {% if recipe.instructions3 %}
                  <p>3.{{ recipe.instructions3 }}</p>
                {% endif %}

                {% if recipe.instructions4 %}
                  <p>4.{{ recipe.instructions4 }}</p>
                {% endif %}

                {% if recipe.instructions5 %}
                  <p>5.{{ recipe.instructions5 }}</p>
                {% endif %}

                <div class="text-orange-700 font-bold text-orange">
                    {{ recipe.time }} minutes
                </div>


             {% if user.is_authenticated %}
                 {% if is_saved %}
             <br>
                    <p>Recipe is saved as a favourite</p>
                {% else %}
                    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                            onclick="window.location.href='{% url 'save_recipe' recipe.id %}'">Save Recipe</button>
                {% endif %}
            {% endif %}

            {% if user.is_authenticated and user == recipe.user %}
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                        onclick="window.location.href='{% url 'edit_recipe' recipe.pk %}'">Edit Recipe</button>
            {% endif %}

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}