
{% extends "airfryer_app/base.html" %}

{% block body %}



  <div class="product-container flex flex-wrap justify-content-center">

    <img src="{{ MEDIA_URL }}croissant.jpg" alt="Croissant Image">

    {% for recipe in recipes %}
      <div class="product shadow-lg w-1/5 rounded-lg m-10">
        <div class="product-image">
          <img src="{{ MEDIA_URL }}{{ recipe.image.url }}" alt="">
        </div>

        <div class="p-5">
          <div class="font-bold">
            {{ recipe.name }}
          </div>
          <div>
            {{ recipe.description }}
          </div>
          <div class="text-orange-700 font-bold text-orange">
            {{ recipe.time }} minutes
          </div>
          <div class="mt-5">
            <a class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
               href="{% url 'recipe' recipe.id %}">View Details</a>
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:3 %}
        <div class="w-full"></div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}