
{% extends "airfryer_app/base.html" %}

{% block body %}



  <div class="product-container main-content flex flex-wrap" >

    {% for recipe in recipes %}
      <div class="product shadow-lg w-1/4 rounded-lg m-10">
        <div class="product-image">
          <img src="{{ recipe.image.url }}" alt="" class="recipe-image">
        </div>

        <div class="p-5">
          <div class="font-bold">
            {{ recipe.name }}
          </div>
          <div>
            {{ recipe.description }}
          </div>
          <div class="text-orange-700 font-bold text-orange">
            {{ recipe.time }} minutes
          </div>
          <div class="mt-5">
            <a class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
               href="{% url 'recipe' recipe.id %}">View</a>
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:3 %}
        <div class="w-full"></div>
      {% endif %}
    {% endfor %}
  </div>

<style>
  .recipe-image {
    width: 100%; /* Set the width to 100% of the parent container */
    height: 200px; /* Set the height to a fixed value */
    object-fit: cover; /* Scale the image to fit the container */
  }
  .product {
    width: 20%; /* Set the width to 33.33% of the parent container */
        margin: 10px 40px; /* Reduce the margin on the right */

  }
</style>

{% endblock %}